*{
    font-family:'Roboto';
    font-weight: bolder;
}
.menu-ctn{
    margin-top: 20px;
    height: 320px;
    width: 100%;
  background-color: rgb(248, 248, 248);;
}
.menu-ctn div{
    margin-left: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 0.4px solid beige;
}
.header{
    margin-top: 20px;
}
.foodi-img:hover{
    cursor: pointer;
}
.foodi-img img{
  
    height: 280px ;
    width: 270px;
}
.northIndian .pizza .biryani .southIndian .chinese :hover{
 cursor: pointer;
}
.Scroll{
    height: 400px;
    /* width: 500px; */
    overflow-y: auto;
    /* overflow-x: wrap; */
}
.section{
    margin-top: 40px;
    margin-left: 100px;
}
.section1{
    background-color: rgb(194, 194, 191);
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 100px;
    width: 100px ;
}
.section1:hover{
    cursor: pointer;
    /* padding: 5px 5px 5px 5px; */
   background-color: rgb(203, 203, 197);
}

.openSidebar{
    /* margin-bottom: 20px; */
    height: 700px;
    width: 500px;
    border-radius: 3px;
    position: fixed;
    
   right: 0px   ;
    top: 6px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.closedSidebar{

    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    /* padding: 10px 10px 10px 10px; */
    background-color: rgb(176, 170, 170);
    position: fixed;
    top: 100px;
    right: 22px;
}
.closedSidebar:hover{
    cursor: pointer;
}
.badge{
    position: fixed;
    top: 100px;
    right: 22px;
}
.icons{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.menuItem{
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;

}
.menuItem:hover{
    cursor: pointer;
}
.card{
    width: 300px;
    margin-top: 10px;

    
}
.card:hover{
    cursor: pointer;
}
.cart-icon{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    height: 30px;
    width: 30px;
}
.cart_item{
    border-bottom: 1px solid white;
    height: 180px;
    padding: 20px 20px 20px 20px;
   background-color: rgb(237, 236, 234);
}
.checkout-img{
    /* margin-left: 0px; */
    border-radius: 4px;
    height: 100px;
    width: 120px;
}
.amt{   height: 50px;
    margin-top: 100px;
    ;
    /* margin-right:40px ; */
    /* float: right; */
    width: 250px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.totalamt{
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    height: 200px;
    background-color: rgb(237, 236, 234);
}
.checkoutitem{
    background-color: orangered;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.totalamt h1{
    font-family: 'Roboto';
    font-weight: bolder;
}
.checkout-hd{
    padding-top: 20px;
    border-radius: 5px;
    height: 60px;
    background-color: rgb(205, 202, 200);
}
