.flex{
    display: flex;
}
.jus-center{
    justify-content: center;
}
.itm-cntr{
    align-items: center;
}
.sp-btn{
    justify-content: space-between;
}
.sp-even{
    justify-content: space-evenly;
}
.wd-150{
    width: 150px;
}
.txt-cntr{
    text-align: center;
}
.my-20{
    margin-top: 40px;
}